.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    flex-wrap: wrap;

    /*temporary styles*/
    border: 1px dashed #3A4972;
    box-sizing: border-box;
}