.skillBlock {
    background-color: #A6825B;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}
.icon{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    border-radius: 50%;
    background-color: #F1EC9B;
}

.description{
    text-align: center;
}
