.skillBlock {
    background-color: #BAEAD6;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    /*color: #3A4972;*/
    color: #F74902;
}
.icon{
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    border-radius: 50%;
    /*background-color: #5EDDC1;*/
    background-color: #3A4972;

    color: #BAEAD6;
}

.description{
    text-align: center;
    color: #000;
}
