@import "src/common/styles/sass/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  /*temporary styles*/
  background-color: #17181B;

  a {
    text-decoration: none;
    line-height: 45px;
    display: block;
    padding-left: 35px;
    position: relative;
    color: #777;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid #202226;
    transition: color 300ms;

    &:hover {
      color: #ffffff !important;
      transition: color 300ms;
    }
  }
  i{
    font-size: 20px;
    line-height: 1;
    padding-right: 10px;
  }
}

